Source: lxd-compose
Section: utils
Priority: optional
Maintainer: Thomas JOUANNOT (Mazerty) <mazerty@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7

Package: lxd-compose
Architecture: all
Depends: ${misc:Depends}, python3, lxd, python3-yaml, python3-requests-unixsocket
Description: Define and run multi-container applications with LXD
